@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


:root {
  --base-color: #000000;
  --text-color: #ffffff;
  --primary-color: #000000;
  --secondary-color: #ff0000;
  --color-1: #f9f6f3;
  --color-2: #f3f7f9;
  --color-3: #242325;
}


* {
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family : quicksand , sans-serif ;
    color: var(--text-color);

}

body {
    padding: 5em;
    background-color: var(--base-color);
}

h1, h2, h3 {
    font-family : Merriweather; sans-serif;
    color: var(--text-color);
}

nav {
    margin: 1em auto 3em auto;
    width: min(10000px, 100%);
    color: var(--secondary-colorr);
}


nav ul{
    display: flex ;
    align-items: center ;
    list-style: none;
    gap: 2em;
   
}

nav li:first-child {
    margin-right:auto;
    font-weight: bold;

}

nav a {
    text-decoration: none;
    font-weight: bold;
    color: var(--primary-color);

    padding: .5em .5em;
    border-radius: .5em;
}

nav a:hover{
    text-decoration: underline;
}


header, section{
    margin: 1rem auto;
    width: min(75em, 100%);
    background-color: var(--color-3);
    padding: min(1em, 100%);
    border-radius: 1em;
}

.flex-container{
    display: flex;
    justify-content:center ;
    align-items: center;
    flex-wrap: wrap;
    gap: 3em ;
}

header img{
    max-width: 100%;
    border-radius: 1em ;
    object-fit: cover;
    object-position: center;
}

.text-container {
    flex: 0 1 100em;
}

h1 {
    font-size:2.5rem;
}

.text-container p{
    margin: .75em 0  1em 0;
    font-size: 1rem;
}

.cta-button{
    display: inline-block;
    font-family: Merriweather;
    text-decoration: none;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    padding: .75em 1.25em;
    border-radius: 1em;
    font-weight: 600;
}

.skills-container{
      flex: 0 1 100em;
      
}

.skill-logo{
    width: 5rem;
    height: 5rem;
    object-fit: contain;
}

.skill-logo-sv{
    width: auto rem;
    height: auto rem;
    object-fit: contain;
}

.skill-logo-cs{
    height: 5.5rem;
    width: 6rem;
}

.nav-logo{
    width: 3rem;
    height: 3rem;
    object-fit: contain;
}

.youtube-logo{
    width: 3.5rem;
    height: 3.5rem;
    object-fit: contain;

}